containers/
fpsessions/
.isolated-storage/
iterm2/
raycast/
.config/scripts/
.config/spotatui/client.yml
.config/spotatui/spotatui_panic.log
.config/spotatui/streaming_cache/credentials.json
tmux/.config/tmux/plugins/
zed/
zsh/

**/.DS_Store
